<!-- TODO make a nice page -->

<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- PASSWORD -->
  <div *ngIf="form.contains('password')" class="login-form">
    <input *ngIf="form.contains('password')" type="password" id="password" class="login-form-field"
      placeholder="Password" formControlName="password">
    <mat-error
      *ngIf="form.controls.password.errors?.required && form.controls.password.touched && !form.controls.password.pristine"
      class="form-error-msg">
      A password is required
    </mat-error>
    <mat-error *ngIf='form.controls.password.errors?.minLengthError || !passwordError.disappear' class="form-error-msg">
      Password length must be greater than 8
    </mat-error>
  </div>
  <!-- CONFIRM PASSWORD -->
  <div *ngIf="form.contains('passwordConfirm')" class="login-form">
    <input type="password" id="passwordConfirm" class="login-form-field" placeholder="Confirm Password"
      formControlName="passwordConfirm">
    <!-- <mat-error *ngIf="form.controls.passwordConfirm.errors?.required && form.controls.passwordConfirm.touched && !form.controls.passwordConfirm.pristine"
      class="form-error-msg">
      Confirm the password
    </mat-error> -->
    <!-- <mat-error *ngIf="form.controls.passwordConfirm.touched && form.controls.passwordConfirm.errors?.notMatching" -->
    <mat-error *ngIf="form.controls.passwordConfirm.dirty && (form.controls.passwordConfirm.errors?.notMatching || !passwordConfirmError.disappear)" class="form-error-msg">
      Password dont match
    </mat-error>
  </div>
  <button type="submit" [disabled]="!form.valid" id="login-form-submit" style="margin-top:10px">Reset password</button>
</form>
<span class="pointer" (click)="logForm()">Log form</span>
<p>minlength errors ?? {{form.controls.password.errors?.minLengthError}}</p>
<p>confirm errors ?? {{form.controls.passwordConfirm.errors?.notMatching}}</p>
<p>passwordErrorDontDisappear >> {{passwordError.disappear}}</p>
<p>passwordConfirmErrorDontDisappear >> {{passwordConfirmError.disappear}}</p>
